fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
sqlalchemy==2.0.36
PyJWT==2.9.0
pillow==10.4.0
ultralytics==8.3.68
reportlab==4.2.2
python-multipart==0.0.12
pymysql==1.1.1
python-dotenv==1.0.1
paho-mqtt==2.1.0
twilio==9.4.0
openpyxl==3.1.5